.root {
    position: relative;
    padding-left: 20px;
    min-height: 50px;
    padding-bottom: 10px;
}

.point {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid var(--border-color-base, #dadee3);
    border-radius: 100px;
    left: 0;
    top: 6px;
}

.root:not(:last-child)::before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid var(--border-color-base, #9fafc8);
    height: calc(100% - 4px);
    left: 5px;
    top: 10px;
}

.root[color="primary"] .point {
    border-color: var(--timeline-point-border-color-primary, #4988e8);
}

.root[color="success"] .point {
    border-color: var(--timeline-point-border-color-primary, #3ad0af);
}

.root[color="warning"] .point {
    border-color: var(--timeline-point-border-color-primary, #ffa136);
}

.root[color="error"] .point {
    border-color: var(--timeline-point-border-color-primary, #fe5a5a);
}
