.root {
    display: inline-block;
    position: relative;
    cursor: text;
    user-select: none;
    max-width: 100%;
    width: var(--select-width);
    height: var(--select-height);
    background: var(--select-background);
    border: var(--select-border-width) solid var(--select-border-color);
    color: #555;
    border-radius: var(--border-radius-base);

    height: auto;
    padding: 2px 4px;
    line-height: 32px;
    transition: border-color var(--transition-duration-base, 0.2s);
}

.root[focus] {
    outline: var(--focus-outline);
    border-color: var(--input-border-color-focus);
}

.root[error] {
    border-color: var(--brand-error);
}

.baseline {
    visibility: hidden;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.placeholder {
    color: var(--select-placeholder-color);
    position: absolute;
    left: 0;
    top: 0;
    padding: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clearable::before {
    display: block;
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    z-index: 1;
    line-height: 1;
    height: 1em;
    margin: auto;
    icon-font: url('cloud-ui.vusion/src/components/i-icon.vue/assets/close-solid.svg');
    cursor: var(--cursor-pointer);
    color: #a7afbb;
}

.root[clearable]::after {
    display: none;
}

.prefix, .suffix {
    display: block;
    position: absolute;
    top: 2px;
    z-index: 1;
}

.prefix {
    left: 6px;
}

.suffix {
    right: 6px;
}

.root[prefix] .body {
    padding-left: 24px;
}

.root[clearable] .body, .root[suffix] .body {
    padding-right: 24px;
}

.prefix[name="search"]::before, .suffix[name="search"]::before {
    icon-font: url("cloud-ui.vusion/src/components/i-icon.vue/icons/search.svg");
    font-size: 16px;
    color: #a7afbb;
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: var(--select-background-disabled);
    border: 1px solid var(--brand-disabled);
    color: #999;
}

.body {
    float: left;
    width: 100%;
    vertical-align: top;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    line-height: inherit;
}

.chip {
    transition: all var(--transition-duration-fast);
}

.chip:hover {
    background: #d0dbe7;
    border-color: #d0dbe7;
}

.chip[editing] {
    background: white;
}

.root[disabled] .chip {
    background: var(--chip-background-color, #eef2f7);
    border-color: var(--chip-background-color, #eef2f7);
}

.chip-part {
    padding: 2px;
    /* background: var(--chip-background-color, #eef2f7); */
}

.chip-part:hover {
    /* background: #d0dbe7; */
}

.root[disabled] .chip-part {
    /* background: var(--chip-background-color, #eef2f7); */
}

.chip-input {
    padding: 0 2px;
    border: 0;
    border-radius: 0;
    line-height: inherit;
    height: 20px;
    vertical-align: -2px;
    background: transparent;
}

.root[size$="normal"] { width: 160px; }
.root[size^="normal"] { min-height: 40px; }

.root[size$="medium"] { width: 280px; }
.root[size^="medium"] { min-height: 70px; }

.root[size$="large"] { width: 440px; }
.root[size^="large"] { min-height: 102px; }

.root[size$="huge"] { width: 580px; }
.root[size^="huge"] { min-height: 134px; }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { min-height: 100%; }
