/**
 * @component u-select
 */
:root {
  /**
   * @type color
   * @group 下拉框背景色
   * @desc 选择框下拉项背景色,如 #223325
   */
  --select-popper-item-background: inherit;

  /**
   * @type color
   * @group 下拉框背景色
   * @desc 选择框下拉项背景色（hover状态）,如 #223325
   */
  --select-popper-item-background-hover: var(--list-view-item-background-hover);

  /**
   * @type color
   * @group 下拉框背景色
   * @desc 选择框下拉项背景色（禁用状态）,如 #223325
   */
  --select-popper-item-background-selected: var(--list-view-item-background-selected);

  /**
   * @type color
   * @group 下拉框字体颜色
   * @desc 选择框下拉项字体颜色,如 #223325
   */
  --select-popper-item-color: inherit;

  /**
   * @type color
   * @group 下拉框字体颜色
   * @desc 选择框下拉项字体颜色（hover状态）,如 #223325
   */
  --select-popper-item-color-hover: inherit;

  /**
   * @type color
   * @group 下拉框字体颜色
   * @desc 选择框下拉项字体颜色（选中状态）,如 #223325
   */
  --select-popper-item-color-selected: var(--list-view-item-color-selected);

  /**
   * @type input
   * @group 宽度
   * @desc 选择框的宽度,如 1px
   * @depStaticStyles ["width"]
   */
  --select-width: var(--width-base);

  /**
   * @type input
   * @group 高度
   * @desc 选择框的高度,如 1px
   * @depStaticStyles ["height"]
   */
  --select-height: var(--height-base);

  /**
   * @type input
   * @group 水平方向内边距
   * @desc 选择框水平方向内边距,如 1px
   * @depStaticStyles ["padding-left","padding-right"]
   */
  --select-padding-x: 10px;

  /**
   * @type color
   * @group 背景色
   * @desc 选择框的背景色,如 #223325
   * @depStaticStyles ["background-color"]
   */
  --select-background: var(--background-color-default);

  /**
   * @type input
   * @group 边框
   * @desc 选择框的边框宽度,如 1px
   * @depStaticStyles ["border-top-width","border-right-width","border-bottom-width","border-left-width"]
   */
  --select-border-width: var(--border-width-base);

  /**
   * @type color
   * @group 边框
   * @desc 选择框的边框颜色,如 #223325
   * @depStaticStyles ["border-color"]
   */
  --select-border-color: var(--border-color-base);

  /**
   * @type color
   * @group 字体
   * @desc 选择框的字体颜色,如 #223325
   * @depStaticStyles ["color"]
   */
  --select-color: var(--color-base);

  /**
   * @type input
   * @group 弹出层
   * @desc 选择框的弹出层最大高度,如 1px
   */
  --select-popper-max-height: 194px;

  /**
   * @type input
   * @group 弹出层
   * @desc 选择框的弹出层阴影效果,如 1px
   */
  --select-popper-box-shadow: var(--box-shadow-base);

  /**
   * @type color
   * @group 占位符
   * @desc 选择框的占位符文字颜色,如 #223325
   */
  --select-placeholder-color: var(--color-lighter);

  /**
   * @type color
   * @group 下拉箭头
   * @desc 选择框的下拉箭头颜色,如 #223325
   */
  --select-arrow-color: var(--color-light);

  /**
   * @type input
   * @group 下拉箭头
   * @desc 选择框的下拉箭头大小,如 1px
   */
  --select-arrow-size: 18px;

  /**
   * @type input
   * @group 下拉箭头
   * @desc 选择框的下拉箭头右边距计算倍数,如 1px
   */
  --select-arrow-right-ratio: 0.6;

  /**
   * @type color
   * @group 弹出层
   * @desc 选择框的弹出层背景色,如 #223325
   */
  --select-popper-background: var(--background-color-default);

  /**
   * @type color
   * @group 弹出层
   * @desc 选择框的弹出层边框颜色,如 #223325
   */
  --select-popper-border-color: var(--border-color-base);

  /**
   * @type color
   * @group 弹出层
   * @desc Inverse选择框的弹出层边框颜色,如 #223325
   */
  --select-popper-border-color-inverse: var(--border-color-base-inverse);

  /**
   * @type color
   * @group 状态颜色
   * @desc 选择框状态颜色,如 #223325
   */
  --select-status-color: var(--color-light);

  /**
   * @type input
   * @group 弹出层
   * @desc 选择框的弹出层边框阴影效果,如 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
   */
  --select-box-shadow-focus: 0 0 0 2px var(--brand-primary-opacity-20);

  /**
   * @type color
   * @group 只读状态
   * @desc 选择框下拉项的字体颜色（只读状态下）,如 #223325
   */
  --select-popper-item-color-readonly: inherit;

  /**
   * @type color
   * @group 只读状态
   * @desc 选择框下拉项的背景颜色（只读状态下）,如 #223325
   */
  --select-popper-item-background-readonly: var(--list-view-item-background-readonly-initial);

  /**
   * @type color
   * @group 禁用状态
   * @desc 选择框下拉项的字体颜色（禁用状态下）,如 #223325
   */
  --select-popper-item-color-selected-disabled: inherit;

  /**
   * @type color
   * @group 禁用状态
   * @desc 选择框下拉项的背景颜色（禁用状态下）,如 #223325
   */
  --select-popper-item-background-selected-disabled: var(--list-view-item-background-selected-disabled);

  /**
   * @type color
   * @group 多选状态
   * @desc 选择框下拉项的字体颜色（多选状态下）,如 #223325
   */
  --select-popper-item-color-duplicated: inherit;

  /**
   * @type color
   * @group 多选状态
   * @desc 选择框下拉项的背景颜色（多选状态下）,如 #223325
   */
  --select-popper-item-background-duplicated: none;

  /**
   * @type color
   * @group 多选状态
   * @desc 选择框下拉项的字体颜色（多选hover状态下）,如 #223325
   */
  --select-popper-item-color-duplicated-hover: var(--select-popper-item-color-hover);

  /**
   * @type color
   * @group 多选状态
   * @desc 选择框下拉项的背景颜色（多选hover状态下）,如 #223325
   */
  --select-popper-item-background-duplicated-hover: var(--select-popper-item-background-hover);

  /**
   * @type color
   * @group 多选状态
   * @desc 选择项的背景颜色
   */
  --select-multiple-popper-item-background-selected: #fff;

  /**
   * @type color
   * @group 多选状态
   * @desc 选择项的文字颜色
   */
  --select-multiple-popper-item-color-selected: inherit;

  /**
   * @type color
   * @group 多选状态
   * @desc 选择项checkbox的背景颜色
   */
  --select-multiple-background-color: var(--brand-primary);

  /**
   * @type color
   * @group 多选状态
   * @desc 选择项checkbox的选中图标颜色
   */
  --select-multiple-icon-color: #fff;

  /**
   * @type color
   * @group 多选状态
   * @desc 选择项checkbox的半选择图标颜色
   */
  --select-multiple-partial-icon-color: #517cff;

  /**
   * @type input
   * @group 弹出层
   * @desc 选择项checkbox的边框
   */
  --select-multiple-border-color: var(--border-width-base) solid var(--border-color-darker);

  /**
   * @type input
   */
  --select-input-border-color-error: var(--input-border-color-error);

}
