strict-peer-dependencies=true
auto-install-peers=false

# 关闭 hoist，隔离以减少冲突
hoist-pattern[]=

public-hoist-pattern[]=*
# 允许少量公共提升的开发工具类型
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=eslint*
public-hoist-pattern[]=prettier*

link-workspace-packages=true
strict-peer-dependencies=false