/**
 * @component u-text
 */
:root {
  /**
   * @type input
   * @desc 文本字号大小,如：1px
   * @depAttrs {"size":["normal"]}
   * @depStaticStyles ["font-size"]
   */
  --text-font-size: var(--font-size-base);

  /**
   * @type input
   * @desc 小号文本字号大小,如：1px
   * @depAttrs {"size":["small"]}
   * @depStaticStyles ["font-size"]
   */
  --text-font-size-small: var(--font-size-small);

  /**
   * @type input
   * @desc 大号文本字号大小,如：1px
   * @depAttrs {"size":["large"]}
   * @depStaticStyles ["font-size"]
   */
  --text-font-size-large: calc(var(--font-size-base) * (18 / 14));

  /**
   * @type input
   * @desc 巨大号文本字号大小,如：1px
   * @depAttrs {"size":["huge"]}
   * @depStaticStyles ["font-size"]
   */
  --text-font-size-huge: calc(var(--font-size-base) * (22 / 14));

  /**
   * @type color
   * @desc 主要文本字体颜色,如：#223325
   * @depAttrs {"color":["primary"]}
   * @depStaticStyles ["color"]
   */
  --text-color-primary: var(--brand-primary);

  /**
   * @type color
   * @desc 次要文本字体颜色,如：#223325
   * @depAttrs {"color":["secondary"]}
   * @depStaticStyles ["color"]
   */
  --text-color-secondary: var(--font-second-color);

  /**
   * @type color
   * @desc 成功文本字体颜色,如：#223325
   * @depAttrs {"color":["success"]}
   * @depStaticStyles ["color"]
   */
  --text-color-success: var(--brand-success);

  /**
   * @type color
   * @desc 警告文本字体颜色,如：#223325
   * @depAttrs {"color":["warning"]}
   * @depStaticStyles ["color"]
   */
  --text-color-warning: var(--brand-warning);

  /**
   * @type color
   * @desc 错误文本字体颜色,如：#223325
   * @depAttrs {"color":["error"]}
   * @depStaticStyles ["color"]
   */
  --text-color-error: var(--brand-error);

  /**
   * @type color
   * @desc 禁用文本字体颜色,如：#223325
   * @depAttrs {"color":["disabled"]}
   */
  --text-color-disabled: var(--brand-disabled-dark);

}
