.root[class] {
    position: relative;
    /* width: auto; */
    height: var(--ace-editor-height, 400px);
}

.editor {
    width: 100%;
    height: 100%;
}

.root[disabled] .editor {
    cursor: not-allowed;
}

.root:not([theme])[class] .editor {
    border-color: var(--ace-editor-border-color, var(--background-color-light, #f2f3f8));
    background-color: var(--ace-editor-background, var(--background-color-light, #f2f3f8));
    /* padding-top: var(--ace-editor-padding-top, 16px); */
    font-size: var(--ace-editor-font-size, 12px);
}

.root:not([theme]) :global(.ace_gutter) {
    background-color: var(--ace-editor-gutter-background, var(--background-color-light, #f2f3f8));
    /* top: var(--ace-editor-padding-top, 16px); */
}

.root:not([theme]) :global(.ace_scroller) {
    /* top: var(--ace-editor-padding-top, 16px); */
}

.root:not([theme]) :global(.ace_variable) {
    color: #c27919;
}

.root:not([theme]) :global(.ace_marker-layer) :global(.ace_active-line),
.root:not([theme]) :global(.ace_gutter-active-line) {
    background: var(--ace-editor-active-line-background, #ecf1f6);
}

.root[size$="small"] { width: var(--ace-editor-width-small, 440px); }
.root[size^="small"] { height: var(--ace-editor-height-small, 200px); }

.root[size$="normal"] { width: var(--ace-editor-width, 580px); }
.root[size^="normal"] { height: var(--ace-editor-height, 360px); }

.root[size$="large"] { width: var(--ace-editor-width-large, 760px); }
.root[size^="large"] { height: var(--ace-editor-height-large, 420px); }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { height: 100%; }

.handle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    cursor: default;
    z-index: 10;
}

.handle::before {
    content: '';
    display: block;
    height: 4px;
    width: 12px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg) translate(-2px, 2px);
}
