.root[class] {
    /* width: auto; */
    height: var(--ace-editor-height, 400px);
}

.root[disabled] {
    cursor: not-allowed;
}

.root:not([theme])[class] {
    border-color: var(--ace-editor-border-color, var(--background-color-light, #f2f3f8));
    background-color: var(--ace-editor-background, var(--background-color-light, #f2f3f8));
    padding-top: var(--ace-editor-padding-top, 16px);
    font-size: var(--ace-editor-font-size, 14px);
}

.root:not([theme]) :global(.ace_gutter) {
    background-color: var(--ace-editor-gutter-background, var(--background-color-light, #f2f3f8));
    top: var(--ace-editor-padding-top, 16px);
}

.root:not([theme]) :global(.ace_scroller) {
    top: var(--ace-editor-padding-top, 16px);
}

.root:not([theme]) :global(.ace_variable) {
    color: #c27919;
}

.root:not([theme]) :global(.ace_marker-layer) :global(.ace_active-line),
.root:not([theme]) :global(.ace_gutter-active-line) {
    background: var(--ace-editor-active-line-background, #ecf1f6);
}
