/**
 * @component u-number-input
 */
:root {
  /**
   * @type color
   * @desc 输入框背景色,如 #223325
   * @depStaticStyles ["background-color"]
   */
  --number-input-background: var(--input-background);

  /**
   * @type color
   * @desc 禁用状态输入框背景色,如 #223325
   */
  --number-input-background-disabled: var(--input-background-disabled);

  /**
   * @type color
   * @desc 输入框字体颜色,如 #223325
   * @depStaticStyles ["color"]
   */
  --number-input-color: var(--input-color);

  /**
   * @type color
   * @desc 禁用输入框字体颜色,如 #223325
   */
  --number-input-color-disabled: #999999;

  /**
   * @type color
   * @desc 输入框上下按钮背景色,如 #223325
   * @depAttrs {"button-display":[null]}
   */
  --number-input-button-background: none;

  /**
   * @type color
   * @desc 输入框左右按钮背景色,如 #223325
   * @depAttrs {"button-display":["bothEnds"]}
   */
  --number-input-button-both-ends-background: #F7F8FA;

  /**
   * @type color
   * @desc 输入框上下按钮背景色（hover状态）,如 #223325
   * @depAttrs {"button-display":[null]}
   */
  --number-input-button-background-hover: var(--number-input-button-background);

  /**
   * @type color
   * @desc 输入框左右按钮背景色（hover状态）,如 #223325
   * @depAttrs {"button-display":["bothEnds"]}
   */
  --number-input-button-both-ends-background-hover: var(--number-input-button-both-ends-background);

  /**
   * @type color
   * @desc 输入框上下按钮背景色（激活状态）,如 #223325
   * @depAttrs {"button-display":[null]}
   */
  --number-input-button-background-active: var(--number-input-button-background);

  /**
   * @type color
   * @desc 输入框左右按钮背景色（激活状态）,如 #223325
   * @depAttrs {"button-display":["bothEnds"]}
   */
  --number-input-button-both-ends-background-active: var(--number-input-button-both-ends-background);

  /**
   * @type color
   * @desc 输入框上下按钮背景色（选中状态）,如 #223325
   * @depAttrs {"button-display":[null]}
   */
  --number-input-button-background-focus: var(--number-input-button-background);

  /**
   * @type color
   * @desc 输入框左右按钮背景色（选中状态）,如 #223325
   * @depAttrs {"button-display":["bothEnds"]}
   */
  --number-input-button-both-ends-background-focus: var(--number-input-button-both-ends-background);

  /**
   * @type color
   * @desc 输入框上下按钮背景色（禁用状态）,如 #223325
   * @depAttrs {"button-display":[null]}
   */
  --number-input-button-background-disabled: var(--number-input-button-background);

  /**
   * @type color
   * @desc 输入框左右按钮背景色（禁用状态）,如 #223325
   * @depAttrs {"button-display":["bothEnds"]}
   */
  --number-input-button-both-ends-background-disabled: var(--number-input-button-both-ends-background);

  /**
   * @type color
   * @desc 输入框边框背景色,如 #223325
   * @depStaticStyles ["border-color"]
   */
  --number-input-border-color: var(--input-border-color);

  /**
   * @type color
   * @desc 输入框边框背景色（hover状态）,如 #223325
   */
  --number-input-border-color-hover: var(--input-border-color-hover);

  /**
   * @type color
   * @desc 输入框边框背景色（选中状态）,如 #223325
   */
  --number-input-border-color-focus: var(--input-border-color-focus);

  /**
   * @type color
   * @desc 输入框边框背景色（禁用状态）,如 #223325
   */
  --number-input-border-color-disabled: var(--input-border-color-disabled);

  /**
   * @type color
   * @desc 输入框按钮字体色,如 #223325
   */
  --number-input-button-color: #989898;

  /**
   * @type color
   * @desc 输入框按钮字体色（hover状态）,如 #223325
   */
  --number-input-button-color-hover: var(--brand-primary);

  /**
   * @type color
   * @desc 输入框按钮字体色（禁用状态）,如 #223325
   */
  --number-input-button-color-disabled: #CCCCCC;

  /**
   * @type input
   * @desc 输入框按钮高度,如 1px
   * @depStaticStyles ["height"]
   */
  --number-input-height: var(--input-height);

  /**
   * @type input
   * @desc 输入框边框宽度,如 1px
   * @depStaticStyles ["border-top-width","border-right-width","border-bottom-width","border-left-width"]
   */
  --number-input-border-width: var(--input-border-width);

  /**
   * @type color
   * @desc 输入框边框阴影色,如 #223325
   */
  --number-input-box-shadow-focus-color: var(--input-box-shadow-focus-color);

  /**
   * @type input
   * @desc 输入框边框阴影,如 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
   */
  --number-input-box-shadow-focus: 0 0 0 2px var(--number-input-box-shadow-focus-color);

  /**
   * @type input
   * @desc 输入框按钮边距,如 1px 1px
   */
  --number-input-button-padding: 0 4px;

  /**
   * @type input
   * @desc 输入框轮廓,如 1px ridge rgba(0, 0, 0, 0.2)
   */
  --number-input-button-outline: var(--focus-outline);

  /**
   * @type input
   * @desc 输入框前缀的边距
   */
  --number-input-prefix-padding: 24px;

  /**
   * @type input
   * @desc 输入框后缀的边距
   */
  --number-input-suffix-padding: 24px;

}
