.root {
    position: relative;
}

.legend {
    width: 100%;
    pointer-events: none;
    padding-left: 20px;
}

.legend > div {
    display: inline-block;
    vertical-align: -10px;
    width: 80%;
    min-height: 32px !important;
}

.legend-item {
    display: inline-block;
    padding: 0 12px;
    background: var(--background-color-base);
    border: 2px solid var(--border-color-base);
}

.legend-item + .legend-item {
    margin-left: 10px;
}

.legend-item[color="primary"] {
    color: white;
    background: var(--brand-primary);
    border-color: var(--brand-primary);
}

.legend-item[color="success"] {
    color: white;
    background: var(--brand-success);
    border-color: var(--brand-success);
}

.legend-item[color="normal"] {
    color: white;
    background: var(--brand-normal);
    border-color: var(--brand-normal);
}

.legend-item[color="problem"] {
    color: white;
    background: var(--brand-problem);
    border-color: var(--brand-problem);
}

.legend-item[color="warning"] {
    color: white;
    background: var(--brand-warning);
    border-color: var(--brand-warning);
}

.legend-item[color="error"] {
    color: white;
    background: var(--brand-error);
    border-color: var(--brand-error);
}

.legend-item[color="danger"] {
    color: white;
    background: var(--brand-error);
    border-color: var(--brand-error);
}

.legend-item[color="disabled"] {
    color: white;
    background: var(--brand-disabled);
    border-color: var(--brand-disabled);
}
