:root {
  --tree-diagram-main-color: #00665f;
}

.tree_node {
  position: relative;
  margin-bottom: 16px;
  font-size: 0;
  white-space: nowrap;
}  

.tree_node:last-child {
  margin-bottom: 0;
}

.tree_parent {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.tree_parent::after {
  border-top: 0;
  border-left: 1px solid #ddd;
}

.stretch_node_r {
  display: inline-block;
  width: 60px;
}

.node_content {
  display: inline-block;
}
.stretch_node {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.stretch_node p {
  display: inline-block;
  vertical-align: middle;
}
.stretch_node .line_dot {
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: all 0.15s;
}

.line_right {
  position: absolute;
  left: -10px;
  top: 50%;
}

.line_left,
.line_right {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  border-top: 1px solid #ddd;
}
.line_left {
  width: 16px;
}
.tree_children {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.connect_line {
  position: absolute;
  left: -10px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #e0e0e0;
  z-index: 6;
}

.lcap-tree-node-label-inner {
  font-weight: 500;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: var(--tree-diagram-main-color);
  color: #fff;
  border: 1px solid var(--tree-diagram-main-color);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lcap-tree-node-label-inner-second {
  text-align: center;
  color: var(--tree-diagram-main-color);
  border: 1px solid var(--tree-diagram-main-color);
  background: none;
}

.lcap-tree-node-label-inner-more {
  color: var(--tree-diagram-main-color);
  background: none;
  border-radius: none;
  border: 1px solid transparent;
  padding: 0px;
}

.lcap-tree-node-label {
  margin: 0;
  overflow: hidden;
  white-space: initial;
  word-break: break-all;
  font-size: 14px;
}

.node_slot {
  position: absolute;
  min-height: 10px;
  height: 10px;
}

.lcap-tree-node-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid var(--tree-diagram-main-color);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.35s ease;
}

.lcap-tree-node-btn::before {
  position: absolute;
  content: attr(dot-num);
  color: var(--tree-diagram-main-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.lcap-tree-node-btn.expanded::after {
  border: none;
}

.lcap-tree-node-btn.expanded::before {
  position: absolute;
  content: '';
  left: 35%;
  top: 28%;
  width: 8px;
  height: 8px;
  border: solid var(--tree-diagram-main-color);
  border-width: 0 1px 1px 0;
  transform: rotate(135deg);
}