.ql-container {
    font-size: 14px;
}

.ql-editor {
    line-height: 22px;
    padding: 24px 32px;
}

.ql-snow .ql-stroke {
    stroke: #666;
    stroke-width: 1;
}

.ql-snow .ql-link .ql-stroke {
    stroke-width: 0.15;
}

.ql-snow .ql-background .ql-stroke {
    stroke-width: 1.8;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #666;
}

.ql-toolbar.ql-snow {
    padding: 9px 16px;
    border-color: #e3e4e5;
}

.ql-toolbar.ql-snow .ql-picker-label, .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-radius: 2px;
}

.ql-toolbar.ql-snow .ql-font.ql-picker.ql-expanded .ql-picker-options {
    width: 200px;
    text-indent: 25px;
}

.ql-toolbar.ql-snow .ql-size.ql-picker.ql-expanded .ql-picker-options {
    width: 104px;
    text-indent: 25px;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #666;
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #666;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #666;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
    margin-bottom: 5px;
}

.ql-snow.ql-toolbar .ql-formats:not(:last-child):after {
    content: "";
    display: inline;
    border: 1px solid #E3E4E5;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    margin-right: 16px;
    font-size: 18px;
}

.ql-snow.ql-toolbar .ql-active {
    background: #EEEEF0;
    border-radius: 2px;
}

.ql-snow.ql-toolbar .ql-formats > span, .ql-toolbar.ql-snow .ql-formats > button {
    margin-right: 16px;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    width: 26px;
    height: 26px;
    padding: 0;
}

.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg {
    float: none;
}

.ql-snow .ql-tooltip {
    padding: 10px 16px;
    border-radius: 2px;
    z-index: 100;
}

.ql-snow .ql-tooltip::before {
    color: #666;
    margin-right: 10px;
}

.ql-snow .ql-tooltip:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: -4px;
}

.ql-snow .ql-tooltip.ql-editing input[type=text] {
    outline: none;
    color: #666;
    border-radius: 2px;
}

.ql-snow .ql-tooltip.ql-editing input[type=text]:focus {
    border-color: #337eff;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: '保存';
    display: inline-block;
    width: 80px;
    margin-left: 11px;
    margin-top: 1px;
    border-radius: 2px;
    color: white;
    background: #337eff;
    text-align: center;
}

.ql-snow .ql-tooltip[data-mode=video]::before {
    content: '插入视频';
}

.ql-snow .ql-tooltip[data-mode=formula]::before {
    content: '插入公式';
}

.ql-snow .ql-tooltip[data-mode=link]::before{
    content: '插入链接';
}

.ql-snow .ql-picker {
    height: 26px;
    font-size: 12px;
}

.ql-snow .ql-picker-label::before {
    line-height: 24px;
}

.ql-snow .ql-picker.ql-size {
    width: 50px;
}

.ql-snow .ql-picker .ql-picker-item:hover::before {
    color: #337EFF;
}

.ql-snow .ql-picker.ql-font {
    width: 136px;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before {
    font-size: 14px;
}

.ql-snow .ql-icon-picker::after, .ql-snow .ql-color-picker::after {
    display: block;
    content: '';
    background-image: url('../images/dropDown.svg');
    background-size: 6px 4px;
    width: 6px;
    height: 4px;
    position: absolute;
    top: calc(50% - 2px);
    right: 4px;
    z-index: 100;
}

.ql-snow .ql-color-picker, .ql-snow .ql-icon-picker {
    width: 37px;
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    margin-top: 0;
    top: calc(50% - 2px);
}

.ql-snow .ql-color-picker .ql-picker-label, .ql-snow .ql-icon-picker .ql-picker-label {
    padding: 2px 13px 2px 2px;
}

.ql-snow .ql-icon-picker .ql-picker-item {
    padding: 2px;
}

.ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-picker-label {
    border-color: #EEEEF0;
    background-color: #EEEEF0;
    color: #666;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    max-height: 444px;
    overflow-y: auto;
    margin-top: 4px;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: #666;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
    fill: #666;
}

.ql-snow .ql-align.ql-picker.ql-expanded .ql-picker-options {
    width: 80px;
}

.ql-snow .ql-color-picker .ql-picker-options {
    width: 192px;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item[data-value="#ffffff"], .ql-snow .ql-color-picker.ql-background .ql-picker-item[data-value="#ffffff"] {
    border-color: #ebebeb;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item[data-value="#ffffff"]:hover, .ql-snow .ql-color-picker.ql-background .ql-picker-item[data-value="#ffffff"]:hover {
    border-color: #000;
}

.ql-snow .ql-color-picker.ql-color .ql-picker-item[data-value="#ffffff"]:hover {
    border-color: #000;
}

.ql-snow .ql-picker-options {
    padding: 8px 1px;
}

.ql-snow .ql-picker-options .ql-picker-item {
    padding: 5px;
}

.ql-snow .ql-font.ql-picker .ql-picker-options .ql-picker-item, .ql-snow .ql-size.ql-picker .ql-picker-options .ql-picker-item {
    position: relative;
}

.ql-snow .ql-icon-picker .ql-picker-options .ql-picker-item {
    position: relative;
    width: 100%;
    padding: 2px;
    text-align: center;
}

.ql-snow .ql-icon-picker .ql-picker-options .ql-picker-item:hover .ql-fill {
    fill: #337EFF;
}

.ql-font .ql-picker-item:hover::after, .ql-size .ql-picker-item:hover::after, .ql-align .ql-picker-item:hover::after {
    display: block;
    content: '';
    background-image: url('../images/selectedAngle.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 7px;
}

.ql-snow .ql-picker-options .ql-picker-item:hover {
    background: #F7F7FA;
}

.ql-snow .ql-editor blockquote {
    background-color: white;
    border-left-color: #eeeef0;
}

.ql-snow .ql-editor h1 {
    font-size: 36px;
    height: 50px;
    line-height: 50px;
}

.ql-snow .ql-editor h2 {
    font-size: 24px;
    height: 34px;
    line-height: 34px;
}

.ql-snow .ql-editor h3 {
    font-size: 18px;
    height: 25px;
    line-height: 25px;
}

.ql-editor li[data-list=ordered].ql-indent-1 > .ql-ui:before {
    content: counter(list-1, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-2 > .ql-ui:before {
    content: counter(list-2, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-3 > .ql-ui:before {
    content: counter(list-3, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-4 > .ql-ui:before {
    content: counter(list-4, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-5 > .ql-ui:before {
    content: counter(list-5, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-6 > .ql-ui:before {
    content: counter(list-6, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-7 > .ql-ui:before {
    content: counter(list-7, decimal) '. ';
}

.ql-editor li[data-list=ordered].ql-indent-8 > .ql-ui:before {
    content: counter(list-8, decimal) '. ';
}