.markdown-root {
  position: relative;
  height: 100%;
  width: 100%;
}

.markdown-root .content {
  max-height: 100%;
  padding: 0 0 0 40px;
  overflow: scroll;
  padding-right: 200px;
}

.markdown-root .anchor-wrap {
  position: absolute;
  right: 5px;
  top: 40px;
}
