:global .ansi-black-fg { color: #2d3139; }
:global .ansi-red-fg { color: #e06c75; }
:global .ansi-green-fg { color: #98c379; }
:global .ansi-yellow-fg { color: #e5c07b; }
:global .ansi-blue-fg { color: #61afef; }
:global .ansi-magenta-fg { color: #c678dd; }
:global .ansi-cyan-fg { color: #56b6c2; }
:global .ansi-white-fg { color: #d7dae0; }
:global .ansi-bright-black-fg { color: #7f848e; }
:global .ansi-bright-red-fg { color: #f44747; }
:global .ansi-bright-green-fg { color: #98c379; }
:global .ansi-bright-yellow-fg { color: #e5c07b; }
:global .ansi-bright-blue-fg { color: #528bff; }
:global .ansi-bright-magenta-fg { color: #7e0097; }
:global .ansi-bright-cyan-fg { color: #56b6c2; }
:global .ansi-bright-white-fg { color: #d7dae0; }

:global .ansi-black-bg { background-color: #2d3139; }
:global .ansi-red-bg { background-color: #e06c75; }
:global .ansi-green-bg { background-color: #98c379; }
:global .ansi-yellow-bg { background-color: #e5c07b; }
:global .ansi-blue-bg { background-color: #61afef; }
:global .ansi-magenta-bg { background-color: #c678dd; }
:global .ansi-cyan-bg { background-color: #56b6c2; }
:global .ansi-white-bg { background-color: #d7dae0; }
:global .ansi-bright-black-bg { background-color: #7f848e; }
:global .ansi-bright-red-bg { background-color: #f44747; }
:global .ansi-bright-green-bg { background-color: #98c379; }
:global .ansi-bright-yellow-bg { background-color: #e5c07b; }
:global .ansi-bright-blue-bg { background-color: #528bff; }
:global .ansi-bright-magenta-bg { background-color: #7e0097; }
:global .ansi-bright-cyan-bg { background-color: #56b6c2; }
:global .ansi-bright-white-bg { background-color: #d7dae0; }
