<div :class="$style.root" v-if="visible" :color="currentColor" :display="currentDisplay" :maximized="isMaximized" :position="position">
    <div :class="$style.head">
        <div :class="$style.buttons">
            <slot name="buttons"></slot>
            <!-- <div :class="$style.button" role="search" :title="'搜索'"></div> -->
            <div :class="$style.button" role="clear" title="清空日志" @click="clear()"></div>
            <div :class="$style.button" v-if="fetchLogs" role="fetchLogs" title="拉取日志" @click="fetchLogs()"></div>
            <div :class="$style.button" role="brightness"
                :title="'切换为' + (currentColor === 'dark' ? '浅色' : '深色')"
                @click="toggleColor()"></div>
            <div :class="$style.button" role="maximize" :title="isMaximized ? '退出全屏' : '全屏'" @click="toggleMaximize()"></div>
            <div :class="$style.button" v-if="openInNewTab" role="openInNewTab" title="在新标签页中打开" @click="_openInNewTab()"></div>
            <div v-if="$options.propsData.hasOwnProperty('visible')" :class="$style.button" role="close" title="关闭" @click="close()"></div>
        </div>
    </div>
    <div :class="$style.body" ref="body" @scroll="onScroll">
        <div :class="$style.scroll" :style="{ paddingTop: paddingTop + 'px', paddingBottom: paddingBottom + 'px' }">
            <div :class="$style.log" v-for="log in viewLogs" :key="log.id" v-html="log.content"></div>
        </div>
    </div>
    <div :class="$style.foot">
        <div :class="$style.button" role="scrollToTop" title="滚动到顶部" @click="scrollToTop()"></div>
        <div :class="$style.button" role="scrollToBottom" title="滚动到底部" @click="scrollToBottom()"></div>
    </div>
    <slot></slot>
</div>
