@import './ansi-colors.css';

.root {
    position: relative;
    height: 400px;
}

.body {
    padding: 18px;
    font-size: 12px;
    font-family: var(--font-family-code);
    background: #23272e;
    color: #a0a9b7;
    height: 100%;
    overflow: auto;
}

.root[color="light"] .body {
    background: #f9f9f9;
    color: #3c3e44;
}

.head {
    position: absolute;
    right: 0;
    top: 0;
    right: 12px;
}

.foot {
    position: absolute;
    right: 12px;
    bottom: 10px;
    padding: 0;
    width: 20px;
    line-height: 1;
}

.root[display="fixed"] {
    position: fixed;
    z-index: 1000;
}

.root[display="fixed"][position="top"] {
    top: 0;
    left: 0;
    right: 0;
}

.root[display="fixed"][position="top-center"] {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.root[display="fixed"][position="top-left"] {
    top: 0;
    left: 0;
    width: 60%;
}

.root[display="fixed"][position="top-right"] {
    top: 0;
    right: 0;
    width: 60%;
}

.root[display="fixed"][position="bottom"] {
    bottom: 0;
    left: 0;
    right: 0;
}

.root[display="fixed"][position="bottom-center"] {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.root[display="fixed"][position="bottom-left"] {
    bottom: 0;
    left: 0;
    width: 60%;
}

.root[display="fixed"][position="bottom-right"] {
    bottom: 0;
    right: 0;
    width: 60%;
}

.root[display="fullWindow"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.button {
    display: inline-block;
    vertical-align: middle;
    color: rgba(255,255,255,0.25);
    transition: color var(--transition-duration);
    cursor: var(--cursor-pointer);
}

.button:hover {
    color: rgba(255,255,255,0.75);
}

.root[color="light"] .button {
    color: rgba(74, 82, 110, 0.35);
}

.root[color="light"] .button:hover {
    color: rgba(74, 82, 110, 0.75);
}

.button + .button {
    margin-left: 4px;
}

.button[role="close"]::before {
    icon-font: url('./assets/close-24px.svg');
    font-size: 24px;
}

.button[role="search"]::before {
    icon-font: url('./assets/search-24px.svg');
    font-size: 24px;
    vertical-align: -2px;
}

.button[role="clear"]::before {
    icon-font: url('./assets/delete_sweep-24px.svg');
    font-size: 22px;
    margin-right: 2px;
}

.button[role="brightness"]::before {
    icon-font: url('./assets/brightness_low-24px.svg');
    font-size: 20px;
}

.root[color="light"] .button[role="brightness"]::before {
    icon-font: url('./assets/brightness_high-24px.svg');
}

.button[role="maximize"]::before {
    icon-font: url('./assets/fullscreen-24px.svg');
    font-size: 24px;
    margin-right: -4px;
}

.root[maximized] .button[role="maximize"]::before {
    icon-font: url('./assets/fullscreen_exit-24px.svg');
}

.button[role="openInNewTab"]::before {
    icon-font: url('./assets/open_in_new-24px.svg');
    font-size: 20px;
    margin-right: -2px;
    margin-left: 2px;
}

.button[role="fetchLogs"]::before {
    icon-font: url('./assets/sync-24px.svg');
    font-size: 22px;
    margin-left: -2px;
}

.button[role="scrollToTop"] {
    transform: rotate(90deg);
}

.button[role="scrollToTop"]::before {
    icon-font: url('./assets/first_page-24px.svg');
    font-size: 26px;
}

.button[role="scrollToBottom"] {
    transform: rotate(90deg);
}

.button[role="scrollToBottom"]::before {
    icon-font: url('./assets/last_page-24px.svg');
    font-size: 26px;
}

.foot .button {
    margin: 0;
}
