/* timing function */
/* 结束慢 */
/* 开始慢 */
/* functions */
.antModalWithNoCancel :global .ant-modal-footer .ant-btn:first-child {
  display: none;
}
:export {
  baseFont: "Helvetica Neue", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  primaryColor: #103ffa;
}
